boto3==1.36.2
botocore==1.36.26 # boto3 1.36.2 requires 1.36.26
cachetools==5.3.3
certifi==2025.6.15
chardet==5.2.0
docutils==0.21.0
google-auth==2.29.0
idna==3.10.0
ims-python-helper>=3.2,<3.3
Jinja2==3.1.6
jmespath==1.0.1
# CSM 1.7 moved to Kubernetes 1.32, so use client v32.x to ensure compatibility
kubernetes>=32.0,<32.1
MarkupSafe==2.1.5
oauthlib==3.2.2
pyasn1==0.6.1 # matching ims
pyasn1-modules==0.4.0
python-dateutil==2.8.2
PyYAML>=6.0.2,<6.1
requests==2.32.4
requests-oauthlib==2.0.0
rsa==4.9
s3transfer==0.11.3 # botocore 1.36.2 requires 0.11.3
setuptools>=70.0
six==1.17.0 # botocore 1.36.2 requires 1.17.0
urllib3==2.4.0
websocket-client==1.8.0
