# Only use Cray-procured packages
--extra-index-url https://artifactory.algol60.net/artifactory/csm-python-modules/unstable/
--trusted-host artifactory.algol60.net
-c constraints.txt

requests
kubernetes
ims-python-helper
requests_oauthlib
jinja2
pyyaml