# Only use Cray-procured packages
--index-url https://arti.dev.cray.com:443/artifactory/api/pypi/pypi-remote/simple
--extra-index-url http://artifactory.algol60.net/artifactory/csm-python-modules/simple
--trusted-host artifactory.algol60.net
-c constraints.txt

requests
kubernetes
ims-python-helper
requests_oauthlib
