# Only use Cray-procured packages
--index-url https://arti.dev.cray.com:443/artifactory/api/pypi/pypi-remote/simple
--extra-index-url http://dst.us.cray.com/piprepo/simple
--trusted-host dst.us.cray.com
-c constraints.txt

requests
kubernetes
ims-python-helper
requests_oauthlib
